/* Yagr Documentation Theme */

:root {
  --ifm-color-primary: #0f766e;
  --ifm-color-primary-dark: #0b625c;
  --ifm-color-primary-darker: #09544f;
  --ifm-color-primary-darkest: #073f3b;
  --ifm-color-primary-light: #129185;
  --ifm-color-primary-lighter: #20a99c;
  --ifm-color-primary-lightest: #74d7cb;
}

.hero--primary {
  background: linear-gradient(135deg, #111827 0%, #0f766e 100%);
}

.button--primary {
  border-color: var(--ifm-color-primary);
}
